# ******************
# Bot Config
TELEGRAM_TOKEN=todo       # Telegram Bot token
BOT_URL=http://bot:8080   # Bot service internal URL

# Bot Retry
BOT_RETRY_MAX_ATTEMPTS=5
BOT_RETRY_BASE_DELAY=200ms
BOT_RETRY_MAX_DELAY=1.5s
BOT_RETRY_HTTP_CODES=500,502,503,504
BOT_RETRY_GRPC_CODES=13,14,15

# Bot Scheduler
BOT_INBOX_BATCH_SIZE=10
BOT_INBOX_RELAY=500ms
BOT_INBOX_CLEAN=1h

# ******************
# Scrapper Config
GITHUB_TOKEN=todo                   # GitHub Personal Access Token
SCRAPPER_URL=http://scrapper:8090   # Scrapper service internal URL
SCRAPPER_BATCH_SIZE=64              # Links per crawl batch
SCRAPPER_WORKER_COUNT=32            # Concurrent crawler workers

# Scrapper Retry
SCRAPPER_RETRY_MAX_ATTEMPTS=5
SCRAPPER_RETRY_BASE_DELAY=200ms
SCRAPPER_RETRY_MAX_DELAY=1.5s
SCRAPPER_RETRY_HTTP_CODES=500,502,503,504
SCRAPPER_RETRY_GRPC_CODES=13,14,15

# Scrapper Rate Limiter
SCRAPPER_LIMIT_RPS=1000
SCRAPPER_LIMIT_BURST=1500

# Scrapper Scheduler
SCHEDULER_CRAWL_INTERVAL=30s      # How often crawl all links
SCHEDULER_RELAY_INTERVAL=500ms    # How often relay outbox
SCHEDULER_CLEAN_INTERVAL=1h       # How often clean outbox

# ******************
# Agent Config
AGENT_WORKER_COUNT=10   # Concurrent update processors

# Agent Event Filtering
AGENT_STOP_WORDS=spam,revert              # Comma-separated stop words
AGENT_EXCLUDED_AUTHORS=                   # Comma-separated excluded authors
AGENT_LOW_PRIORITY_WORDS=                 # Comma-separated low priority keywords
AGENT_HIGH_PRIORITY_WORDS=golang,go,ddd   # Comma-separated high priority keywords
AGENT_MIN_LENGTH=35                       # Min description length to process overall
AGENT_SUMMARIZATION_THRESHOLD=300         # Min description length to use llm summary

# Agent AI Summarizer
AGENT_PROMPT="Act as a Russian summarizer. Summarize the text below strictly in 3-5 sentences in fluent Russian (with English technical words if needeed to avoid loss of meaning). Cover: what happened, who is affected, and the result. Text:"
AGENT_MODEL=meta-llama/Meta-Llama-3-70B-Instruct:fastest    # Hugging Face model
AGENT_HG_TOKEN=todo                                         # Hugging Face API token
AGENT_HF_TIMEOUT=15s                                        # Hugging Face request timeout

# Agent Scheduler
AGENT_GROUP_WINDOW=20s      # Time window for grouping events
AGENT_OUTBOX_BATCH=25       # Outbox relay batch size
AGENT_OUTBOX_RELAY=200ms    # Outbox relay interval
AGENT_INBOX_RELAY=5s        # Inbox processing interval
AGENT_OUTBOX_CLEAN=1h       # Outbox cleanup interval
AGENT_INBOX_CLEAN=1h        # Inbox cleanup interval

# ******************
# Communication Protocol
REQUEST_PROTOCOL=grpc     # Bot <-> Scrapper: grpc or http
UPDATES_PROTOCOL=kafka    # Notification delivery: kafka, grpc or http(currently use only kafka, because add agent service(not implement & not have api like proto/openAPI))

# ******************
# Circuit Breaker
CB_MAX_REQUESTS=5
CB_TIMEOUT=1s
CB_INTERVAL=10s
CB_BUCKET_PERIOD=1s
CB_FAILURE_RATE_THRESHOLD=10    # Percentage (0-100)

# ******************
# Timeouts
TIMEOUTS_SHUTDOWN=10s
TIMEOUTS_HTTP_READ=5s
TIMEOUTS_HTTP_WRITE=10s
TIMEOUTS_HTTP_IDLE=60s
TIMEOUTS_GRPC_KEEPALIVE_MAX_CONNECTION_IDLE=5m
TIMEOUTS_GRPC_KEEPALIVE_MAX_CONNECTION_AGE=30m
TIMEOUTS_GRPC_KEEPALIVE=10s
TIMEOUTS_BOT_CLIENT_REQUEST=1s
TIMEOUTS_SCRAPPER_CLIENT_REQUEST=1s

# ******************
# Prometheus-Push Gateway (Prometheus)
PUSH_GATEWAY_URL=http://pushgateway:9091
BOT_METRICS_PUSH_INTERVAL=10s
SCRAPPER_METRICS_PUSH_INTERVAL=10s
AGENT_METRICS_PUSH_INTERVAL=10s

# ******************
# PostgreSQL
DB_ACCESS_TYPE=sql      # sql(rawsql) or builder(goqu), both with pgx driver
DB_HOST=postgre
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=scrapper
DB_NAME=scrapper

# ******************
# Valkey Cache (optional)
VALKEY_ENABLED=true
VALKEY_ENDPOINTS=sentinel:26379
VALKEY_MASTER_NAME=master
VALKEY_TTL=5m
VALKEY_USERNAME=scrapper
VALKEY_PASSWORD=scrapper

# ******************
# Kafka & Schema Registry
KAFKA_BOOTSTRAP_SERVERS=kafka-1:19092,kafka-2:19092,kafka-3:19092
KAFKA_USER=scrapper
KAFKA_PASSWORD=scrapper

# Topics
KAFKA_RAW_UPDATES_TOPIC=link-raw-updates          # Scrapper -> Agent
KAFKA_RAW_DLQ_TOPIC=link-raw-updates-dlq
KAFKA_PREP_UPDATES_TOPIC=link-processed-updates   # Agent -> Bot
KAFKA_PREP_DLQ_TOPIC=link-processed-updates-dlq

# Consumer Groups
KAFKA_RAW_CONSUMER_GROUP=agent
KAFKA_PREP_CONSUMER_GROUP=bot

KAFKA_CONSUMER_ATTEMPTS=5
KAFKA_PRODUCER_ATTEMPTS=5
KAFKA_PRODUCER_BATCH_SIZE=25

SCHEMA_REGISTRY_URL=http://schema-registry:8081

# ******************
# Docker Compose ports mapping
AGENT_PORT=8070
BOT_PORT=8080
SCRAPPER_PORT=8090

VALKEY_1_PORT=6379
VALKEY_2_PORT=6380
VALKEY_3_PORT=6381
VALKEY_SENTINEL_PORT=26379
VALKEY_PORT=6379

KAFKA_1_PORT=9092
KAFKA_2_PORT=9093
KAFKA_3_PORT=9094
KAFKA_UI_PORT=8085
KAFKA_BOOTSTRAP_SERVERS_INTERNAL=kafka-1:9092,kafka-2:9092,kafka-3:9092

SCHEMA_REGISTRY_PORT=8081
